---

---

<div class="about dark:bg-black dark:text-white p-8">
    <p>I'm a Junior studying Computer Science at the University of Houston. I have experience in Front-End Web Development, and UI/UX Design.</p>
    <p>I believe that the success of every project is based on good collaboration and motivating others.</p>
</div>