---

---

<div id="aboutSection" class="about dark:text-white p-8">
    <p>I'm a Computer Science Junior at the University of Houston, specializing in <strong>Front-End Development</strong> and <strong>Machine Learning</strong>. I'm passionate about building robust and scalable applications that leverage the power of AI.</p>
    <p>I believe that the success of every project is built on strong collaboration and a shared drive to create great work.</p>
</div>

<style>
    /* @import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Roboto+Slab:wght@100..900&display=swap'); */

    #aboutSection{
        font-family: "Karla", system-ui;
        font-optical-sizing: auto;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }

</style>    