---
import '../styles/global.css';
import { ChevronsDown } from '@lucide/astro';
---

<div id="mainContainer" class="dark:bg-black dark:text-white min-h-screen flex flex-col">
    <main>
        <div id="hero">
            <div id="heroTitle" class="text-4xl font-bold">
                <h1>My name is Ron Alex,</h1>
                <h2>and I'm a Software Engineer</h2>
            </div>
            <div id="heroInfo">
                <div id="heroLocation">
                    <h3>Location</h3>
                    <p>Houston</p>
                </div>
                <div id="heroStatus">
                    <h3>Status</h3>
                    <p>Student</p>
                </div>
                <div id="readMore">
                    <h3>Read More</h3>
                    <ChevronsDown size="24" />
                </div>
            </div>
        </div>
    </main>
</div>

<style>

    @import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Roboto+Slab:wght@100..900&display=swap');
    main {
        flex: 1;
        height: 100%;
        display: flex;
        justify-content: left;
        align-items: end;
        padding: 2rem;
    }

    #heroTitle{
        font-family: "Roboto Slab", serif;
    }

    #heroTitle h1{
        font-weight: 300;
        font-size: 5rem;
    }

    #heroTitle h2{
        font-weight: 200;
        font-size: 3rem;
    }

    #heroInfo{
        font-family: "Bitcount Grid Single", system-ui;
        font-optical-sizing: auto;
        display: grid;
        grid-template-columns: auto auto 1fr;
    }

    #readMore{
        display: inline flex; 
        place-self: end;
        align-items: center;
    }

    #heroInfo h3{
        font-weight: 400;
        font-size: 1.5rem;
        margin-bottom: 0.25rem;
    }

</style>