---
import '../styles/global.css';
---

<div id="mainContainer" class="dark:bg-black dark:text-white min-h-screen flex flex-col">
    <main>
        <div id="hero">
            <div id="heroTitle" class="text-4xl font-bold">
                <h1>My name is Ron Alex,</h1>
                <h2>and I'm a Software Engineer</h2>
            </div>
            <div id="heroInfo">
                <div id="heroLocation">
                    <p>Location</p>
                    <p>Houston</p>
                </div>
                <div id="heroStatus">
                    <p>Status</p>
                    <p>Student</p>
                </div>
            </div>
        </div>
    </main>
</div>

<style>

    @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

    main {
        flex: 1;
        height: 100%;
        display: flex;
        justify-content: left;
        align-items: end;
        padding: 2rem;
    }

    #heroTitle{
        font-family: "Roboto Slab", serif;
    }

    #heroTitle h1{
        font-weight: 300;
        font-size: 5rem;
    }

    #heroTitle h2{
        font-weight: 200;
        font-size: 3rem;
    }

    #heroInfo{
        display: grid;
        grid-template-columns: auto auto;
    }

</style>