---
import ProjComp from '../components/ProjComp.astro'

---

<div id="projectSection" class="dark:text-white min-h-screen flex flex-col p-8">
    <div id="projectTitle">
        <h2 class="text-3xl font-semibold mb-4">Projects</h2>
    </div>

    <div id="projectsList" class="grid grid-cols-1 gap-6">
        <h2 class="italic font-light">UNDER CONSTRUCTION</h2>
        <a href='/projects/portfolio/'>
            <div>
                 <ProjComp title="Portfolio Website" projDescription='Portfolio Project' stack={['Astro', 'Tailwind CSS', 'GitHub Actions']} img="/assets/portfolio/portfolio.webp" date='Ongoing'/>
            </div>
        </a>
        <a href='/projects/coogmusic/'>
            <div>
                <ProjComp title="CoogMusic" projDescription='Full stack music streaming application' stack={['React', 'TypeScript', 'Express', 'PostgreSQL']} img="/assets/coogmusic/coogmusic.webp" date='November 2025'/>
            </div>
        </a>
        <a href='/projects/videoindex/'>
            <div>
                <ProjComp title="VideoIndex" projDescription='Semantic search engine for video content' stack={['FAISS', 'ResNet-50', 'PyTorch', 'JavaScript']} img="/assets/videoindex/videoindex.webp" date='November 2025'/>
            </div>
        </a>
    </div>


</div>