<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Ron Alex</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
        display: flex;
        min-width: 320px;
		max-width: 1440px;
		height: 100%;
        background-color: black;
        color: white;
        justify-self: center;
        margin: auto;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        padding: 1rem;
        box-sizing: border-box;
	}
</style>
