<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/src/components/mdstyles.css" />
		<meta name="generator" content={Astro.generator} />
		<title>Ron Alex</title>
	</head>
	<body>
		<article class="markdown-card">
			<div class="markdown-body">
				<slot />
			</div>
		</article>
	</body>
</html>

<style>
    body {
        background-color: #121212;
    }

    .markdown-card {
        max-width: 50vw;
        margin: 2rem auto;
        padding: 2rem;
    }

    @media (max-width: 650px) {
        .markdown-card {
            max-width: none;
            margin: 1rem;
            padding: 1rem;
        }
    }

</style>